.form-spacing {
  padding: $spacing; 
} 

form {
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  > ul li {
    @extend .form-spacing;
    list-style: none;
    margin: 0;
  }

  h2 {
    margin: 0;
  }

  label {
    display: block;
    clear: left;
  }
  
  li { 
    @extend .form-spacing;
    padding: $spacing; 
    display: block;
    width: 100%
  }
  
  .col { 
    input,
    textarea {
      width: 100%;
    }
  }
}

li input {
  width: 100%;
}

input, textarea {
  border-radius: $radius;
  border-style: solid;
  padding: 6px 9px;
  position: relative;
  z-index: 2;
}  

.button {
  border-radius: $radius;
  border-style: outset;
  border-width: 0;
  padding: 3px 16px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-shadow: rgba(0,0,0,0.45) 0 -1px 0;
  
  @include transition;
  @include fancy-hover;
}
.max-size-button {
  width: 100%;
}

.has-js {
  .checkout,
  .checkout-2 {
    display: none;    
  }
}

.parsley-errors-list {
  border: 1px solid;
  border-radius: $radius;
  list-style: none;
  margin-left: 4px;
  margin-top: -6px;
  max-width: 80%;
  min-width: 9.5em;
  padding: 2px $spacing;
  position: relative;
  li {
    padding-right: 0;
  }
  li::before {
    content: '*';
    @include position( absolute, $left: 7px );
    font-size: 19px;
  }
}