<div class='video-background'>
  <!-- native html video player, with mp4 & webm formats, and a fallback link to video file -->
  <video autoplay loop height='720' poster="<%= image_url( 'video_placeholder.jpg' ) %>" preload='auto' width='1280'>
    <source src='videos/thirst_inducer.mp4' type='video/mp4'>
    <source src='videos/thirst_inducer.webm' type='video/webm'>
    <a href='videos/thirst_inducer.mp4'>
      <%= image_tag 'video_placeholder.jpg', alt: 'Play Video' %>
    </a>
  </video>
  <div class='video-controls'>
    <button class='play-button' id='play'>
      ► play
    </button>
    <button class='pause-button' id='pause'>
      ‖ pause
    </button>
  </div>

  <div class='call-to-action'>
    <p>Are you thirsty?</p>
    <a class='button large-button' href='/shop'>
      Order Some Mojo Drink!
    </a>
  </div>
</div>
