<div data-path='/'>
  <%= render 'video' %>
</div>

<div class='section-gap'></div>

<div class="center-wrap" data-path='/about'>
  <%= render 'about' %>
</div>

<div class='section-gap'></div>

<%= render 'shop' %>  
