.video-controls button {
  background-image: image-url('play_pause.png');
  background-position: top right;
  border: 0 none;
  
  // support retina with resolution independent svg image  
  .has-svg & {
    background-image: image-url('play_pause.svg');
  }
}

.video-controls .pause-button {
  background-position: top left;
}

.slick-arrow {
  background-image: image-url('next.png');
  background-position: top right;

  
  // support retina with resolution independent svg image  
  .has-svg & {
    background-image: image-url('next.svg');
  }
}