<div class='center-wrap'>
  <footer>
    <p>
      All content
      &copy; <%= Date.today.year.to_s %> 
      Gary Von Schilling
      </br>
      <small>(except for the videos and images he stole shamelessly, </br>
      which belong to their respecitve copyright holders.)</small>
    </p>
    
    <p>
      Please drink responsibly, stylishly, and audaciously.
    </p>
  </footer>
</div>
