<div class='center-wrap'>
  <div class='footer side-spacing center-text' role='contentinfo'>
    <p>
      All content
      &copy; <%= Date.today.year.to_s %> 
      Gary Von Schilling
      </br>
      <small>(except for the videos, images, and music he stole shamelessly. </br>
      Those belong to their respecitve copyright holders.)</small>
    </p>
    
    <p>
      Please drink responsibly, stylishly, and bravely.
    </p>
  </div>
</div>
