<div class='header'>

  <div class='logo'>
    <h1><%= @brand.title %></h1>
  </div>

  <button class='button menu-button' id='menu-button' data-target='nav' type="button">
    <i class='burger-icon'></i>
  </button>

  <div class='nav' id='nav' role='navigation'>
    <a href='/'>Home</a>
    <a href='/about'>About</a>
    <a href='/shop'>Shop</a>
  </div>

</div>


